openapi: 3.0.1
info:
  title: thirdweb Authentication Tokens API
  description: thirdweb provides a unified interface for Web3 development. This specification documents real, publicly documented HTTP endpoints across the thirdweb unified API (api.thirdweb.com - wallets, transactions, contracts, tokens, payments and bridge), Engine (backend transaction execution), Insight (indexed on-chain data) and Nebula (AI blockchain interface). Authenticate frontend usage with an x-client-id header (plus x-bundle-id for native apps) or a Bearer JWT, and backend usage with an x-secret-key header.
  termsOfService: https://thirdweb.com/tos
  contact:
    name: thirdweb Support
    url: https://thirdweb.com/support
  version: '1.22'
servers:
- url: https://api.thirdweb.com
  description: thirdweb unified API (wallets, transactions, contracts, tokens, payments, bridge)
- url: https://engine.thirdweb.com
  description: thirdweb Engine (backend transaction execution)
- url: https://insight.thirdweb.com
  description: thirdweb Insight (indexed on-chain data)
- url: https://nebula-api.thirdweb.com
  description: thirdweb Nebula (AI blockchain interface)
security:
- SecretKeyAuth: []
- ClientAuth: []
- BearerAuth: []
tags:
- name: Tokens
  description: Token creation, listing, and ownership.
paths:
  /v1/tokens:
    get:
      operationId: listTokens
      tags:
      - Tokens
      summary: List tokens.
      responses:
        '200':
          description: A list of tokens.
    post:
      operationId: createToken
      tags:
      - Tokens
      summary: Create (deploy) a token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTokenRequest'
      responses:
        '200':
          description: Token creation queued.
  /v1/tokens/{chainId}/{address}/owners:
    get:
      operationId: getTokenOwners
      tags:
      - Tokens
      summary: Get owners of a token.
      parameters:
      - $ref: '#/components/parameters/ChainId'
      - $ref: '#/components/parameters/Address'
      responses:
        '200':
          description: Token owners.
components:
  parameters:
    Address:
      name: address
      in: path
      required: true
      description: An EVM wallet or contract address.
      schema:
        type: string
    ChainId:
      name: chainId
      in: path
      required: true
      description: The numeric EVM chain ID.
      schema:
        type: integer
  schemas:
    CreateTokenRequest:
      type: object
      properties:
        chainId:
          type: integer
        name:
          type: string
        symbol:
          type: string
        description:
          type: string
        imageUrl:
          type: string
        owner:
          type: string
        maxSupply:
          type: string
      required:
      - chainId
      - name
      - symbol
      - description
      - imageUrl
  securitySchemes:
    ClientAuth:
      type: apiKey
      in: header
      name: x-client-id
      description: Client ID for frontend usage. Web sends x-client-id only; native apps also send x-bundle-id.
    BundleIdAuth:
      type: apiKey
      in: header
      name: x-bundle-id
      description: Bundle ID for native (desktop/mobile) platform authentication alongside x-client-id.
    SecretKeyAuth:
      type: apiKey
      in: header
      name: x-secret-key
      description: Secret key for backend usage; never expose publicly.
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT access token obtained from wallet authentication, for frontend usage.
