openapi: 3.0.1
info:
  title: thirdweb Authentication Nebula API
  description: thirdweb provides a unified interface for Web3 development. This specification documents real, publicly documented HTTP endpoints across the thirdweb unified API (api.thirdweb.com - wallets, transactions, contracts, tokens, payments and bridge), Engine (backend transaction execution), Insight (indexed on-chain data) and Nebula (AI blockchain interface). Authenticate frontend usage with an x-client-id header (plus x-bundle-id for native apps) or a Bearer JWT, and backend usage with an x-secret-key header.
  termsOfService: https://thirdweb.com/tos
  contact:
    name: thirdweb Support
    url: https://thirdweb.com/support
  version: '1.22'
servers:
- url: https://api.thirdweb.com
  description: thirdweb unified API (wallets, transactions, contracts, tokens, payments, bridge)
- url: https://engine.thirdweb.com
  description: thirdweb Engine (backend transaction execution)
- url: https://insight.thirdweb.com
  description: thirdweb Insight (indexed on-chain data)
- url: https://nebula-api.thirdweb.com
  description: thirdweb Nebula (AI blockchain interface)
security:
- SecretKeyAuth: []
- ClientAuth: []
- BearerAuth: []
tags:
- name: Nebula
  description: AI blockchain interface.
paths:
  /ai/chat:
    post:
      operationId: aiChat
      tags:
      - Nebula
      summary: Chat with the thirdweb AI to read and write on-chain.
      servers:
      - url: https://api.thirdweb.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: AI chat response.
  /chat:
    post:
      operationId: nebulaChat
      tags:
      - Nebula
      summary: Send a message to a Nebula AI session.
      servers:
      - url: https://nebula-api.thirdweb.com
      security:
      - SecretKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Nebula response.
  /execute:
    post:
      operationId: nebulaExecute
      tags:
      - Nebula
      summary: Have Nebula execute an on-chain action.
      servers:
      - url: https://nebula-api.thirdweb.com
      security:
      - SecretKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Execution result.
  /session:
    post:
      operationId: nebulaCreateSession
      tags:
      - Nebula
      summary: Create a Nebula session.
      servers:
      - url: https://nebula-api.thirdweb.com
      security:
      - SecretKeyAuth: []
      responses:
        '200':
          description: Session created.
components:
  securitySchemes:
    ClientAuth:
      type: apiKey
      in: header
      name: x-client-id
      description: Client ID for frontend usage. Web sends x-client-id only; native apps also send x-bundle-id.
    BundleIdAuth:
      type: apiKey
      in: header
      name: x-bundle-id
      description: Bundle ID for native (desktop/mobile) platform authentication alongside x-client-id.
    SecretKeyAuth:
      type: apiKey
      in: header
      name: x-secret-key
      description: Secret key for backend usage; never expose publicly.
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT access token obtained from wallet authentication, for frontend usage.
